@import url('https://fonts.googleapis.com');

:root {
    --canvas-size: 500px;
}

body { 
    margin: 0; 
    /* overflow: hidden; */
    background-color: #2A2D43; 
    font-family: 'Geist', sans-serif;
    -webkit-font-smoothing: antialiased; /* Optional: Makes modern fonts look crisper */
    -moz-osx-font-smoothing: grayscale;
}

.canvas-wrapper{
    position: relative;
    height: var(--canvas-size);
}

.canvas-overlay{
    width: 100%;
    height: var(--canvas-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    pointer-events: none; 
}

.canvas-overlay h1 {
    font-size: x-large;
    color: #fff;
}

#canvas-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--canvas-size);
    z-index: 1; 
}

.navbar{
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px 120px 12px 120px;

    background: #BEE7E8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bolder;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar a{
    color:inherit;
    text-decoration: none;
}

.about{
    padding-left: 120px;
    padding-right: 120px;
    color: #fff;
}
